{
  "extends": "airbnb",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "script"
  },
  "rules": {
    "object-shorthand": ["error", "never"],
    "no-unused-vars": ["off", { "vars": "local", "args": "after-used" }],
    "arrow-parens" : ["error", "always"],
    "arrow-body-style": ["error", "always"],
    "no-confusing-arrow": ["error", { "allowParens": false }],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 1 }],
    "object-curly-spacing": ["error", "never"],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-void": "off",
    "no-bitwise": [ "error", { "allow": ["~", "^", "|", "&", "|=", "&=", "^="]} ],
    "padded-blocks": ["error", { "classes": "always" }],
    "strict": ["error", "safe"]
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
