eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
npm-debug.log
**/npm-debug.log
**/npm-debug.log*
**/node_modules
**/docs
.idea
**/logs/*.log
**/pids/*.pid
*/log.txt
static_server_npm_helper.pid
*/report.xml
*/doc/**
*/newrelic*.*
*.vpp~*
*.vpp.working*
*.vpp.bak
*/out
**/.jscsrc
**/.jshintrc
**/docs/*
!**/docs/.gitkeep
**/coverage/*
!**/coverage/.gitkeep
/huf_ldap_change_notification_enrich_n_relay_agent/resources/**
.vscode/
.modify.ldfi.swp
modify.ldif
*.gypi
*.mk
*.Makefile
**/Release/*
./.vscode/
./build/**
.vscode/settings.json
