eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
npm-debug.log
**/npm-debug.log
**/npm-debug.log*
**/node_modules
**/docs
.idea
**/logs/*.log
**/pids/*.pid
*/log.txt
static_server_npm_helper.pid
*/report.xml
*/doc/**
*/newrelic*.*
*.vpp~*
*.vpp.working*
*.vpp.bak
*/out
**/.jscsrc
**/.jshintrc
**/docs/*
!**/docs/.gitkeep
**/coverage/*
!**/coverage/.gitkeep
/huf_ldap_change_notification_enrich_n_relay_agent/resources/**
.vscode/
openldapjs/lib/bindings/build/config.gypi
openldapjs/lib/bindings/build/binding.Makefile
openldapjs/lib/bindings/build/binding.target.mk
openldapjs/lib/bindings/build/config.gypi
openldapjs/lib/bindings/build/Makefile
openldapjs/lib/bindings/build/Release/binding.node
openldapjs/lib/bindings/build/Release/.deps/Release/binding.node.d
openldapjs/lib/bindings/build/Release/.deps/Release/obj.target/binding.node.d
openldapjs/lib/bindings/build/Release/.deps/Release/obj.target/binding/binding.o.d
openldapjs/lib/bindings/build/Release/obj.target/binding.node
openldapjs/lib/bindings/build/Release/binding.node
openldapjs/lib/bindings/build/Release/obj.target/binding.node
.vscode/settings.json
openldapjs/lib/bindings/build/Release/binding.node
openldapjs/lib/bindings/build/Release/binding.node
openldapjs/lib/bindings/build/Release/obj.target/binding.node
openldapjs/lib/bindings/build/*
